<form class="projeto-form" ng-class="{aberto: form.criarNovo}" ng-submit="form.enviar()">
  <input type="text" ng-model="form.data.titulo" placeholder="Títutlo do projeto">
  <div class="double">
    <input type="text" ng-model="form.data.materia" placeholder="Nome da matéria (Prof)">
    <input type="date" ng-model="form.data.data">
  </div>
  <textarea ng-model="form.data.comentarios" rows="5" cols="80" placeholder="Comentários sobre o projeto" maxlength="750"></textarea>
  <div class="double btn-group">
    <button type="button" class="btn" ng-click="form.fecharForm()">Cancelar</button>
    <button type="submit" class="btn dark">Adicionar</button>
  </div>
</form>
