<div ng-controller="ProjetoUnico as projeto" class="projeto-unico" ng-class="{'aberto': projeto.saibaMais}">
  <span class="mateira web"></span>
  <div class="meta">
    <h2>Sistema CR</h2>
    <small>Programação Web (Tanji)</small>
  </div>
  <div class="mais-info">
    <div class="data"><i class="fa facebook"></i>18/12/1994</div>
    <button class=btn ng-click="projeto.toogleSaibaMais()">Saiba mais</button>
  </div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non eligendi qui eius ab? Eveniet officiis, fuga saepe deserunt aliquid enim itaque ipsa. Ipsa, ipsum molestiae, officiis aliquid ut asperiores suscipit dolor doloribus enim, aliquam accusantium inventore assumenda odit mollitia laborum. Vel illum natus expedita soluta ipsam iste non ad quisquam enim, temporibus id quidem doloremque dolore asperiores neque vitae dolorem ipsa laborum, suscipit accusamus molestiae! Nihil expedita, porro modi officia dolorum debitis eius. Ullam soluta ab, maiores nostrum sit illo perferendis aspernatur cum quisquam nulla laborum nesciunt tempore voluptatibus minima accusantium aliquid libero numquam expedita provident veniam temporibus repudiandae obcaecati.
    </p>
  </div>
</div>
