$azul: #38a1e5;
$azulClaro: #4cc1f4;
$azulEscuro: #095bab;
$borderRadius: 4px;


@import 'normalize';
@import 'flexboxgrid';
@import './modules/header';
@import './modules/projetos';

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
  padding-top: 180px;
  background-color: #fdfdfd;
}

ul, ol {
  list-style: none;
}

footer {
  position: absolute;
  height: 44px;
  bottom: 0;
  padding: 0 30px;
}

label {
  display: block;
  line-height: 1.8;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
}

form button[type="submit"] {
  margin-top: 1em;
}

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-success {
  color: #29b35b;
}

.text-danger {
  color: #b61b17;
}

.text-info {
  color: #31708f;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.titulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  h1 { margin: 0; }
}

.btn {
  padding: 10px 25px;
  background-color: red;
  border: none;
  border-radius: $borderRadius;
  background-color: $azul;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: background-color, transform, box-shadow;
  cursor: pointer;

  &.dark { background-color: $azulEscuro; }
  &:focus { outline: 0; }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
  }

  &:disabled,
  &[disabled] {
    background-color: #d6d6d6;
    cursor: not-allowed;
    &:hover { box-shadow: none; transform: none; }
  }
}

@media (max-width: 420px) {
  .titulos { flex-direction: column; }
}
